.input {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-weight: 300;
    height: 100%;
    margin: 0;
    outline: none;
    top: 0;
    z-index: 1;
    font-size: 30px;
    line-height: 38px;
    border-bottom: 2px solid #fff;
}

.server {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-weight: 300;
    height: 100%;
    margin: 0;
    outline: none;
    top: 0;
    z-index: 1;
    font-size: 30px;
    line-height: 38px;
    border-bottom: 2px solid #fff;
}

.search {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.label {
    margin: 10px;
    font-size: 16px;
}
